.parzival-facsimile-view
  navbar
  .parzival-facsimile-nav.level
    .level-left
      .level-item
        .field.is-grouped
          .control: button.button.is-primary(@click="openCarousel"): i.fa.fa-th
          .control: button.button(@click="zoomIn"): i.fa.fa-search-plus
          .control: button.button(@click="zoomOut"): i.fa.fa-search-minus
          .control: button.button(@click="rotateLeft"): i.fa.fa-rotate-left
          .control: button.button(@click="rotateRight"): i.fa.fa-rotate-right

  .parzival-facsimile
  carousel
  quire
  facsimile-navbar
