nav.parzival-facsimile-navbar.navbar.is-fixed-bottom.is-light(role="navigation" aria-label="pagination")
  .navbar-menu.is-active
    .navbar-start
      .navbar-item
        nav.breadcrumb(aria-label="breadcrumbs")
          ul
            li.is-active: a {{ pageTitle }}
            li.is-active: a {{ verseTitle }}
    .navbar-end
      .navbar-item
        .field.is-grouped
          .control
            router-link.button(:to='gotoMode("single-page")' title="Einzelseitenansicht")
              i.fa.fa-file-o
          .control
            router-link.button(:to='gotoMode("double-page")' title="Doppelseitenansicht")
              i.fa.fa-files-o
          .control.has-icons-left
            input.input(type="text" placeholder="z. B. 30v oder 123 oder 700.20[1]" v-model.trim="query" @keyup.enter="search" :class='{ "is-danger": notFound }')
            span.icon.is-left: i.fa.fa-search
          .control
            button.button.is-primary(@click="searchVerse" title="Suche Vers") Vers
          .control
            button.button(@click="searchPage" title="Suche Blatt") Blatt
          .control
            router-link.button(:to='gotoPage(prevPage)' :disabled="!prevPage" title="Vorherige Seite")
              i.fa.fa-angle-left
          .control
            router-link.button(:to='gotoPage(nextPage)' :disabled="!nextPage" title="Nächste Seite")
              i.fa.fa-angle-right
