section.parzival-home.hero.is-dark.is-fullheight
  .hero-body
    .container
      .title Nuwer Parzifal
      router-link.subtitle(to="/V/115r/transcript")
        span.icon: i.fa.fa-angle-right
        span Zu den Handschriften
