doctype html
html.has-navbar-fixed-top.has-navbar-fixed-bottom-touch(lang="de")
  - const { styles, app } = htmlWebpackPlugin.files.chunks;
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Nuwer Parzifal – Parzival-Projekt
    script(src=styles.entry)
  body: .parzival-app
  script(src=app.entry)
