doctype html
html(lang="de")
  - const { styles, app, metadata, transcript } = htmlWebpackPlugin.files.chunks;
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Nuwer Parzifal – Parzival-Projekt
    script(src=styles.entry)
  body.has-navbar-fixed-top.has-navbar-fixed-bottom-touch
    .parzival-app
  script(src=metadata.entry)
  script(src=transcript.entry)
  script(src=app.entry)
