@import "~bulma/sass/utilities/initial-variables";

$modal-z: 1000;
$modal-content-width: calc(100vw - $modal-content-spacing-mobile);

@import "~bulma/bulma.sass";

.modal-open {
  overflow: hidden;
}

.parzival-navigation {
  .navbar-menu {
    &.is-active {
      .navbar-end {
        display: none;
      }
    }
  }
}

.parzival-facsimile-viewer {
  background: $black;
  position: relative;
  height: 100%;

  .parzival-facsimile {
    height: 100%;

    .displayregion {
      border-color: $white !important;
    }
  }

  .parzival-facsimile-nav {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5 * $gap;
  }

  .parzival-breadcrumb {
    background: $white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.25 * $gap;
  }

}

.parzival-quire-view {
  position: absolute;
  left: 0;
  top: 2 * $navbar-height;
  margin: 0.5 * $gap;
  background: rgba($white, 0.5);

  width: 3 * $gap;
  height: $gap;
}

.parzival-overview {
  color: $white;

  .parzival-facsimile-slide {
    cursor: pointer;
    img {
      display: block;
      width: auto;
      height: 128px;
      margin: 0 auto;
    }

    p {
      margin: #{0.25 * $gap} #{0.5 * $gap};
      text-align: center;
    }

    &.is-active p {
      background: rgba($primary, 0.7);
    }
  }
}

.parzival-page {
  .parzival-page-facsimile {
    height: calc(100vh - #{$navbar-height})
  }
}
.parzival-text {
  .columns {
    height: calc(100vh - #{$navbar-height});
  }
  .parzival-facsimile-column, .parzival-text-column {
    height: 100%;
    overflow-y: auto;

  }

  font-size: $size-6;

  .verse {
    color: $info;
    font-size: $size-7;
    margin-right: 1rem;
  }
  .hi-red {
    color: $danger;
  }

  .lb {
    color: $grey-light;
  }

  .table td, .table th {
    border: none;
    vertical-align: middle;
    padding: 0 0.5em;
  }

  .table th {
    text-align: right;
    width: 5rem;
  }
}