@import "~bulma/sass/utilities/initial-variables";

$modal-z: 1000;
$modal-content-width: calc(100vw - $modal-content-spacing-mobile);

@import "~bulma/bulma.sass";

@font-face {
  font-family: "Junicode";
  src: url("./fonts/Junicode.woff") format("woff"), url("./fonts/Junicode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("./fonts/Junicode-Bold.woff") format("woff"), url("./fonts/Junicode-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("./fonts/Junicode-Italic.woff") format("woff"), url("./fonts/Junicode-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Junicode";
  src: url("./fonts/Junicode-BoldItalic.woff") format("woff"), url("./fonts/Junicode-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.has-junicode {
  font-family: "Junicode", serif;
}

.modal-open {
  overflow: hidden;
}

.parzival-facsimile-viewer {
  background: $black;
  position: relative;
  height: 100%;

  .parzival-facsimile {
    height: 100%;

    .displayregion {
      border-color: $white !important;
    }
  }

  .parzival-facsimile-nav {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5 * $gap;
  }

  .parzival-quire-view {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.5 * $gap;
    background: rgba($white, 0.5);

    width: 3 * $gap;
    height: $gap;
  }
}

.parzival-overview {
  color: $white;

  .parzival-facsimile-slide {
    cursor: pointer;
    img {
      display: block;
      width: auto;
      height: 128px;
      margin: 0 auto;
    }

    p {
      margin: #{0.25 * $gap} #{0.5 * $gap};
      text-align: center;
    }

    &.is-active p {
      background: rgba($primary, 0.7);
    }
  }
}

/* stylelint-disable */
.parzival-page-facsimile, .parzival-transcript-view {
  height: calc(100vh - #{$navbar-height});
}

.parzival-transcript-column, .parzival-facsimile-column {
  height: 100%
}

@include touch {
  .parzival-page-facsimile, .parzival-transcript-view {
    height: calc(100vh - #{2 * $navbar-height});
  }

  .parzival-transcript-column {
    height: 40%
  }
  .parzival-facsimile-column {
    height: 60%
  }
}

/* stylelint-enable */


.parzival-transcript {
  .parzival-transcript-view > .columns {
    height: 100%;
  }
  .parzival-facsimile-column, .parzival-transcript-column {
    overflow-y: auto;
  }

  .hi-red {
    color: $danger;
  }

  .hi-fleuronee, .hi-lombarde {
    font-size: larger;
    font-weight: bold;
  }

  .lb {
    color: $grey-light;
  }

  .table td, .table th {
    border: none;
    vertical-align: middle;
    padding: 0 0.25rem;
  }

  .table th {
    text-align: right;
    width: 4rem;
  }
}