@import "~bulma/sass/utilities/initial-variables";

$modal-z: 1000;
$modal-content-width: calc(100vw - $modal-content-spacing-mobile);

@import "~bulma/bulma.sass";

.setting-up {
  visibility: hidden;
}

.modal-open {
  overflow: hidden;
}

.parzival-facsimile-toolbar {
  height: $navbar-height;
}

.parzival-facsimile-view {
  background: $black;

  .parzival-facsimile-nav {
    background: transparent;
    position: absolute;
    top: $navbar-height;
    left: 0;
    margin: $gap;
    z-index: 900;
  }

}

.parzival-facsimile {
  height: calc(100vh - #{2 * $navbar-height});

  .displayregion {
    border-color: $info !important;
  }
}

.parzival-facsimile-carousel {
  color: $white;

  .parzival-facsimile-slide {
    cursor: pointer;
    img {
      display: block;
      width: auto;
      height: 256px;
      margin: 0 auto;
    }

    p {
      margin: #{0.25 * $gap} #{0.5 * $gap};
      padding: #{0.25 * $gap} #{0.5 * $gap};
      text-align: center;
    }

    &.is-active p {
      background: rgba($primary, 0.7);
    }
  }
}

.parzival-quire-view {
  position: fixed;
  left: 0;
  bottom: $navbar-height;
  margin: $gap;
  background: rgba($white, 0.7);

  width: 150px;
  height: 50px;

  .parzival-quire {
    fill: none;
    stroke: $grey;
    stroke-width: 1px;

    &.is-active {
      stroke: $black;
      stroke-width: 2px;
    }
  }


}

.page-label {
  color: $white;
  font-size: $size-4;
  margin-right: $size-4;
  opacity: 0.75;
}