nav.navbar.is-fixed-top.is-dark(role="navigation" aria-label="main navigation")
  .navbar-brand
    router-link.navbar-item.has-text-weight-bold(to="/").
      Nuwer Parzifal – {{ manuscript.title }}
    button.button.is-dark.navbar-burger(@click="toggleMenu" :class="{'is-active': menu }")
      span
      span
      span

  .navbar-menu(:class="{'is-active': menu }")
    .navbar-start
      .navbar-item.has-dropdown(@click="toggleMsDrop" :class="{ 'is-active': msDrop }")
        a.navbar-link Handschriften
        .navbar-dropdown
          router-link.navbar-item(v-for='m in manuscripts'  :key='m.sigil' :class='{ "is-active": (m === manuscript)}' :to='gotoManuscript(m.sigil)') {{ m.title }}
    .navbar-end
      router-link.navbar-item(to="/about") Einführung
      router-link.navbar-item(to="/materials") Materialien
      router-link.navbar-item.is-info(to="/help")
        span.icon: i.fa.fa-info(aria-hidden="true")
        span Hilfe