.parzival-navigation
  nav.navbar.is-fixed-top.is-dark(role="navigation" aria-label="main navigation")
    .navbar-brand
      router-link.navbar-item(to="/").has-text-weight-bold Nuwer Parzifal
      button.button.is-dark.navbar-burger(@click='toggle("menu")' :class='active("menu")')
        span
        span
        span
    .navbar-menu(:class='active("menu")')
      .navbar-start
        .navbar-item.has-dropdown(@click='toggle("msDrop")'
          :class='active("msDrop")')
          a.navbar-link.
            {{ manuscriptTitle }} ({{ manuscript }}) – {{ pageTitle }}
          .navbar-dropdown
            router-link.navbar-item(v-for='m in manuscripts' :key='m.sigil'
              :to='routes.manuscripts[m.sigil]').
                {{ m.sigil }} – {{ m.title }}
      navigation.navbar-end.is-hidden-touch(:manuscript="manuscript"
        :pages="pages")