.parzival-page
  navbar
  .parzival-page-facsimile
    facsimile-viewer
    .parzival-breadcrumb.is-hidden
      nav.breadcrumb(aria-label="breadcrumbs")
        ul
          li.is-active: a {{ manuscript.sigil }} – {{ manuscript.title }}
          li.is-active: a {{ pageTitle }}
          li.is-active: a {{ verseTitle }}
  quire
  nav.navbar.is-fixed-bottom.is-dark(v-if="!$mq.desktop")
    navigation.navbar-brand
