nav.parzival-pagination.pagination.is-centered.is-small
  router-link.button.is-light.pagination-previous(:to="routes.prevPage")
    i.fa.fa-angle-left
  router-link.button.is-light.pagination-next(:to="routes.nextPage")
    i.fa.fa-angle-right
