nav.parzival-pagination.pagination.is-centered.is-small
  router-link.pagination-previous(:to="routes.prevPage")
    span Vorherige Seite
  router-link.pagination-next(:to="routes.nextPage")
    span Nächste Seite
