.parzival-transcript
  navbar
  .parzival-transcript-view
    .columns.is-desktop.is-gapless(v-for="p in page" :key="p")
      .column.is-4-fullhd.parzival-transcript-column
        .section
          h2.subtitle {{ manuscript.sigil }} – {{ pageTitle }} – {{ verseTitle }}
          .columns.is-multiline.is-gapless(v-if="available")
            .column.is-full-desktop(v-for='c, ci in [p + "a", p + "b"]' :key="ci")
              hr.is-hidden-touch(v-if="ci > 0")
              table.table.is-narrow(v-if="columns[c]")
                tbody
                  tr(v-for="v, vi in columns[c].verses" :key="vi")
                    th.has-text-info.is-light.is-size-7 {{ v.verse }}
                    td.has-junicode.is-size-5(v-html="v.html")
          p.notification(v-else) Kein Transkript verfügbar.
      .column.parzival-facsimile-column
        facsimile-viewer
  nav.navbar.is-fixed-bottom.is-dark.is-hidden-desktop
    navigation.navbar-brand
