.parzival-transcript
  navbar(:manuscript="manuscript" :pages="pages")
  .parzival-transcript-view
    .tile.is-ancestor
      .tile.is-parent(:class="classes.orientation")
        .tile.is-child(:class="classes.transcriptWidth" ref="pageContainer")
          article.message(v-for="t in transcript"
            :key="t.column" :class="t.columnClass" :data-column="t.column" ref="columns")
            .message-header
              p {{ manuscript }} – {{ t.column }}
            .message-body
              table.table.is-fullwidth
                tbody
                  tr(v-for="l, li in t.contents" :key="li")
                    template(v-if="l.type == 'heading'")
                      td.parzival-heading(colspan="2")
                        div(v-for="h, hi in l.heading" :key="hi") [{{ h }}]
                    template(v-if="l.type == 'verse'")
                      th.parzival-verse-num {{ l.verse }}
                      td.parzival-verse(v-html="l.html")
        .tile.is-child
          facsimile-viewer(:manuscript="manuscript" :pages="pages")
  nav.navbar.is-fixed-bottom.is-dark.is-hidden-desktop
    navigation.navbar-brand(:manuscript="manuscript" :pages="pages")
