
htdocs/
node_modules/
src/config/secrets.json
transcripts/conversion/*.xml

# provisioning
provisioning/roles/*.*
provisioning/ubuntu-*-cloudimg-console.log
.vagrant/
*.retry

.DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
