#!/bin/bash

INTERNAL_IP4_DNS=

CISCO_SPLIT_INC=1
CISCO_SPLIT_INC_0_ADDR={{ parzival.smb.host_ip }}
CISCO_SPLIT_INC_0_MASK=255.255.255.255
CISCO_SPLIT_INC_0_MASKLEN=32
CISCO_SPLIT_INC_0_PROTOCOL=0
CISCO_SPLIT_INC_0_SPORT=0
CISCO_SPLIT_INC_0_DPORT=0

. /usr/share/vpnc-scripts/vpnc-script
