IPSec gateway vpn01.unibe.ch
IPSec ID Everyone
IPSec obfuscated secret {{ parzival_vpn_secret }}
Domain campus.unibe.ch
Xauth username {{ parzival_vpn_user }}
Xauth password {{ parzival_vpn_password }}
Script /etc/vpnc/unibe.ch-script
No Detach