IPSec gateway vpn01.unibe.ch
IPSec ID Everyone
IPSec obfuscated secret {{ parzival.vpn.secret }}
Domain campus.unibe.ch
Xauth username {{ parzival.vpn.user }}
Xauth password {{ parzival.vpn.password }}
Script /etc/vpnc/unibe.ch-script
No Detach