nav.navbar.is-fixed-bottom(role="navigation" aria-label="pagination")
  .navbar-menu.is-active
    .navbar-start
      .navbar-item
        nav.breadcrumb(aria-label="breadcrumbs")
          ul
            li.is-active: a {{ title }}
            li.is-active: a {{ page }}

    .navbar-end
      .navbar-item
        .field.is-grouped
          .control
            router-link.button(:to='{ name: "facsimile", params: { sigil: sigil, page: prevPage } }' :disabled="noPrevPage")
              i.fa.fa-angle-left
          .control
            router-link.button(:to='{ name: "facsimile", params: { sigil: sigil, page: nextPage } }' :disabled="noNextPage")
              i.fa.fa-angle-right
