nav.navbar.is-link(role="navigation" aria-label="pagination")
  .navbar-menu.is-active
    .navbar-start
      .navbar-item {{ title }} – {{ page }}

    .navbar-end
      .navbar-item
        .field.is-grouped
          .control
            router-link.button(:to='{ name: "facsimile", params: { sigil: sigil, page: prevPage } }' :disabled="noPrevPage")
              i.fa.fa-angle-left
          .control
            router-link.button(:to='{ name: "facsimile", params: { sigil: sigil, page: nextPage } }' :disabled="noNextPage")
              i.fa.fa-angle-right
