nav.navbar.is-fixed-top.is-dark(role="navigation" aria-label="main navigation")
  .navbar-brand
    router-link.navbar-item(:to='{ name: "facsimile", params: { sigil: sigil, page: "001r" } }').has-text-weight-bold.
      {{ title }}
    button.button.navbar-burger
      span
      span
      span

  .navbar-menu
    .navbar-start
      router-link.navbar-item(to="/") Startseite
      router-link.navbar-item(to="/about") Einführung
      router-link.navbar-item(to="/manuscripts") Initialen
      router-link.navbar-item(to="/materials") Materialien
      router-link.navbar-item.is-info(to="/help")
          span.icon: i.fa.fa-info(aria-hidden="true")
          span Hilfe