doctype html
html.has-navbar-fixed-top.no-js(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Rappoltsteiner Parzifal – Parzival-Projekt
    link(rel="stylesheet" type="text/css" href="/styles.css")
    script(src="/setup.js")
  body
    block body
  script(src="/index.js")
  script(src="/browser-update.js")
