doctype html
html.has-navbar-fixed-top.no-js(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Rappoltsteiner Parzifal – Parzival-Projekt
    link(rel="stylesheet" type="text/css" href="/styles.css")
    script(src="/setup.js")
  body
    nav.navbar.is-fixed-top.is-dark(role="navigation" aria-label="main navigation")
      .navbar-brand
        a.navbar-item(href="/").has-text-weight-bold.
          Karlsruhe, Bad. Landesbibl., Donaueschingen 97
        button.button.navbar-burger
          span
          span
          span

      .navbar-menu
        .navbar-start
          a.navbar-item(href="/") Startseite
          a.navbar-item(href="/") Einführung
          a.navbar-item(href="/") Initialen
          a.navbar-item(href="/") Materialien
          a.navbar-item.is-info(href="/")
              span.icon: i.fa.fa-info(aria-hidden="true")
              span Hilfe

    block body
  script(src="/index.js")
  script(src="/browser-update.js")
