extends ../page.pug

block body
  section.hero.is-medium.is-primary.is-bold
    .hero-body
      .container
        h1.title
          a(href="http://www.parzival.unibe.ch/einfuehrung.html") Parzival-Projekt
        h2.subtitle
          a(href="https://digital.blb-karlsruhe.de/urn/urn:nbn:de:bsz:31-8938").
            Rappoltsteiner Parzifal